/* FULL BACKGROUND */
.admin-bg {
  background: linear-gradient(135deg, #100104, #0b0202);
}

.student-bg {
  background: linear-gradient(135deg, #000303, #030a12);
}

.profile-bg {
  background: linear-gradient(135deg, #2e1c02, #3a2e05, #0b0211);
}

/* Common form + cards */
.form-container {
  display: flex;  
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 200px;
}

.form-container button {
  background: rgba(3, 84, 111, 0.419);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
